@import "../../responsive.scss";

.homePage {
  padding-bottom: 20px;

  .topSection {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;

    @include md {
      flex-direction: column;
    }
  }

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg {
        padding-right: 50px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }

  .sliderContainer {
    padding: 20px;
    background-color: #fcf5f3;
    overflow: hidden;

    .sliderWrapper {
      display: flex;
      gap: 20px;
      padding-bottom: 20px;
      width: max-content;
      /* Allow width to grow for all items */
      animation: scroll 40s linear infinite;

      /* Pause on hover */
      &:hover {
        animation-play-state: paused;
      }

      .sliderCard {
        min-width: 250px;
        max-width: 250px;
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    /* Move left by 25% (one full set of items) to seamlessly loop */
    transform: translateX(-25%);
  }
}