@import "../../responsive.scss";

.allApartments {
    display: flex;
    height: 100%;
    width: 100%;

    .sidebar {
        flex: 1;
        min-width: 300px;
        background-color: #fcf5f3;
        padding: 20px;
        height: 100%;
        overflow-y: auto;
        border-right: 1px solid #e5e7eb;


        .filter {
            margin-bottom: 20px;

            h1 {
                font-size: 20px;
                margin-bottom: 15px;
            }

            .top {
                margin-bottom: 15px;

                .item {
                    margin-bottom: 10px;

                    input {
                        width: 100%;
                    }
                }
            }

            .bottom {
                flex-direction: column;
                gap: 15px;

                .item {
                    width: 100%;
                    margin-bottom: 0px;
                }

                button {
                    width: 100%;
                    padding: 10px;
                    background-color: #fece51;
                    border: none;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        @include md {
            display: none;
        }
    }

    .postsContainer {
        flex: 3;
        height: 100%;
        overflow-y: auto;
        padding: 20px 50px;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 1000px;
            margin: 0 auto;
        }

        @include md {
            padding: 20px;
        }
    }


    @include md {
        flex-direction: column;

        .sidebar {
            width: 100%;
            min-width: unset;
            height: auto;
            display: block;
            border-right: none;
            border-bottom: 1px solid #e5e7eb;
        }

        .postsContainer {
            height: auto;
            overflow-y: visible;
        }
    }
}